<configuration>
    <import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.encoder.LayoutWrappingEncoder"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.contrib.json.classic.JsonLayout"/>
    <import class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE_JSON_ENCODER" class="ConsoleAppender">
        <filter class="ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <encoder class="JsonEncoder"/>
    </appender>

    <!--
    Requires lib Logback Contrib
    Beware, for these lib are full of vulnerabilities.
    -->
    <appender name="CONSOLE_JSON_LAYOUT" class="ConsoleAppender">
        <filter class="ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <encoder class="LayoutWrappingEncoder">
            <layout class="JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>

                <jsonFormatter class="JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <springProfile name="container,kubernetes">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON_ENCODER"/>
        </root>
    </springProfile>
    <springProfile name="default,dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON_ENCODER"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>